*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background: black;
  }
  
  .image-title{
      display: flex;
      justify-content: center;
      padding-top: 164px;
  }
  .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #f1f1f1;
  }
  .enviar {
      background: #303030;
      color: #f1f1f1;
      border: none;
      width: 191px;
      height: 67px;
      border-radius: 12px;
      font-size: 32px;
  }
  
  #email {
      width: 466px;
      height: 58px;
      margin-bottom: 22px;
      color: #f1f1f1;
      background:#f1f1f1;
      border: 1px solid #f1f1f1;
  }
  
  #password {
  width: 460px;
  height: 58px;
  margin-bottom: 42px;
  color: #f1f1f1;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  }